<%= render 'books/list' %>

<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag 'sample-author1.jpg' %></td>
      <td><%= user.name %></td>
      <td><%= link_to 'Show', user_path(user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

